@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* ------------------------------- */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Advent Pro', sans-serif;
    padding: 0;
    margin: 0;

}
ul{
    margin: 0;
    padding: 0;

}
li{list-style: none;
}
h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;

}
a{
    text-decoration: none;
    color: black;
}
/* -------nav----------- */

nav{
    overflow: hidden;
    background-color: #FFFAE1;
    position: fixed;
    width: 100%;
    opacity: 0.9;

}
header li{
    float: right;
    font-size: 1.2em;
}
header li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
#logo{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
}
/* ---------image principal------ */

#imagePrincipal{
    padding-top: 60px;
    background: url(/img/naomi-ellsworth-EMPLSuvDuhQ-unsplash.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 690px;

}
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px black;
}
#premierTrait{
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #FFFAE1;
    text-shadow: 1px 3px 2px black;
}
h3{
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;

}
/* -----------presentation----------- */

#presentation{
    background-color: #FFFAE1;
    
}
#textIntro{
    padding: 0px 20%;
}
#perstations{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.imagesPresentation h4{
    font-family: 'Dancing Script',cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}
.imagesPresentation img{
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
}
.imagesPresentation img:hover{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.8s ease-in-out;

}
/* ----------tourisme----------- */
#maison{
    height: 1400px;
    
    background-color: #F1F2F6;
    /* padding: 1px 2%; */
}
#maison h2{

    padding-top: 40px;
    padding-bottom: 40px;
}
#lecture{
    background: url(/img/toa-heftiba-FV3GConVSss-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
#jardin{
    background: url(/img/annie-spratt-dDP2q2kChjE-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
#pont{
    background: url(/img/bridge-53769_1280.jpg);
    background-size: cover;
background-repeat: no-repeat;
}
#panorame{
    background: url(/img/travel-1749508_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#maison .li{
 
    margin: -65px 10px 0 100px;
    height: 340px;
    width: 55%;
    max-width: 650px;
    float: right;
    box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
}
#maison .li2{
 
    margin: -20px 100px 0 10px;
    height: 340px;
    width: 55%;
    max-width: 650px;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
}
#maison .li2 p{
    height: 45px;
    width: 235px;
    background-color: midnightblue;
    opacity: 0.9;
    color: mintcream;
    float: right;
    margin: 50px -180 0 0;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    border-radius: 9999px;
    box-shadow: 4px 4px 0 1px rgb(15, 78, 114);

}
#maison .li p{
    
    height: 45px;
    width: 235px;
    background-color: midnightblue;
    opacity: 0.9;
    color: mintcream;
    float: left;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    border-radius: 9999px;
    box-shadow: 4px 4px 0 1px rgb(15, 78, 114);

}

/* -----------footer----------- */

footer{
    background-color: #524A3A;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center;
}
form{
    margin: 0 auto;
    max-width: 900px;

}
input, textarea, button{
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro' , sans-serif;
    border-radius: 8px;

}
textarea{
    height: 120px;
}
button{
    font-size: 1.5em;
    background-color: #FFFAE1;
}
button:hover{
    background-color: #E55039;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#deuxiemeTrait {
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
}
#copyriteEtIcon{
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyrite{

    width: 50%;
    text-align: left;
    color: #FFFAE1;

}
#icon{
    width: 50%;
    text-align: right;
}
#icon a{
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
    color: #FFFAE1;
}
#icon a:hover{
    transform: scale(1.5);
    transition: 0.1S ease-in-out;
}